<div>
  <mat-toolbar
    color="accent"
    style="background-color: #61aee9"
    class="example-toolbar"
  >
    <button mat-icon-button (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>

    <h1
      style="
        color: white;
        text-align: center;
        padding-top: 1em;
        font-family: 'Franklin Gothic Medium';
      "
    >
      Hungrezy <mat-icon>restaurant</mat-icon>
    </h1>

    <!-- <button mat-button style="margin-left: 80%; background-color: #d82e0f">
      Login
    </button> -->
    <a routerLink="#" mat-button style="margin-left: 60%; color: white"
      ><mat-icon matBadge="1" matBadgeColor="warn"> fastfood</mat-icon>Cart</a
    >
    <a routerLink="login" mat-button style="margin-left: 70px; color: white"
      ><mat-icon>perm_identity</mat-icon>Login</a
    >
  </mat-toolbar>
  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav
      #sidenav
      class="example-sidenav"
      mode="side"
      opened="true"
      (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()"
    >
      <mat-nav-list>
        <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing"
            ><mat-icon mat-list-icon>home</mat-icon>Home
          </span>

          <mat-icon
            class="menu-button"
            [ngClass]="{ rotated: showSubmenu }"
            *ngIf="isExpanded || isShowing"
            >expand_more</mat-icon
          >
        </mat-list-item>
        <div
          class="submenu"
          [ngClass]="{ expanded: showSubmenu }"
          *ngIf="isShowing || isExpanded"
        >
          <span
            ><a mat-list-item routerLink="admin"
              ><mat-icon>account_circle</mat-icon>Admin</a
            ></span
          >
        </div>
      </mat-nav-list>
      <mat-nav-list> </mat-nav-list>
    </mat-sidenav>

    <!-- <div class="example-card">
      <h3 class="header"></h3>
      <div class="card">
        <mat-card class="menu" *ngFor="let pro of product">
          <mat-card-header>
            <mat-card-title>{{ pro.name }}</mat-card-title>
          </mat-card-header>

          <span>{{ pro.productName }}</span>
          <img src="{{ pro.productImg }}" alt="" />
          <mat-card-actions>
            <span> {{ pro.price }}/- </span>
            <button
              mat-flat-button
              style="margin-left: 17em"
              class="order"
            
            >
              Order Now
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div> -->
    <div class="res row">
  
        <mat-card class="example-card col-md-4" *ngFor="let res of resturants">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>{{ res.resName }}</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>
          <img mat-card-image src="{{ res.resImg }}" alt="resturant" />
          <mat-card-content> </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="accent" routerLink="menu">Order Now</button>
            <!-- <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card>&nbsp;

    </div>
  </mat-sidenav-container>
</div>
