

.example-card {
  
  /* height: 307px;
   /* margin-left: 81px; */
  width: 24%; 
  margin:5px;
 
}
.mat-card {
  
  margin: 20px;
}
.res {
  margin-bottom: 2px;
  margin: 10px;
  padding-top: 1px;
/* col-md-4; */
}
mat-card-subtitle {
  font-size: 18px;
}

.header {
  color: green;
  font-size: 45px;
  justify-content: center;
  display: flex;
}

.headimg{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 35px;
}
h3{
  margin-left: 40%;
  margin-top: 5%;
}

/* .example-header-image {
  background-image:url("https://b.zmtcdn.com/data/dish_images/d19a31d42d5913ff129cafd7cec772f81639737697.png");
  background-size: cover;
} */