<h1 style="color: darkred; text-align: center"><b>Login Page</b></h1>
<div class="parent">
  <form [formGroup]="regform" style="margin: 50px; height: 400px">
    <div>
      <mat-label><b>User Name</b></mat-label>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Enter userName" formControlName="userName" #userName/>
        <mat-icon class="material-icons" matSuffix>people</mat-icon>
        <mat-hint>Enter fullName</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <mat-label><b>Password</b></mat-label>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" #userPassword />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div>
      <!-- <button mat-raised-button class="createUserBtn" color="primary" type="submit" (click)="onSubmit()">Login </button> -->
        <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
    </div>
    <!-- Calling GoogleAuth Api from AuthService -->
    <div class="formGroup">
      <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
        <i class="fab fa-google-plus-g"></i>
        Log in with Google
      </button>
    </div>
    <span>If you don't have an account<a href="/register">Register here</a></span>
    <router-outlet></router-outlet>
  </form>
</div>