<div class="menu row">
  
    <mat-card class="example-card col-md-4" *ngFor="let pro of product">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{ pro.productName }}</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image src="{{ pro.productImg }}" alt="resturant" />
      <mat-card-content> 
        <p><strong>{{pro.price}}/-</strong></p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent">Add to cart</button>
        <!-- <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>&nbsp;

</div>
