<!-- <div>
  <button mat-flat-button routerLink="/menu" color="warn">Add Item</button>
</div>
<div style="width: 100%; height: 200%; margin-left: 20px; margin-top: 2%;">
  <h1 *ngIf="cartList.length > 0"><strong>Cart Items</strong></h1>
  <div
    *ngFor="let item of cartList"
    style="height: 250px; width: 200px"
    class="row-md-3"
  >
    <img src="{{ item.productImg }}" alt="img" />
    <h3>{{ item.productName }}</h3>
    <p>
      <strong>{{ item.price }}/-</strong>
    </p>
    <button
      mat-flat-button
      (click)="removeCartItem(item.id)"
      color="warn"
    >
      Remove Item</button
    >
    <hr style="width: 200px;">
  </div>
  <br />
  <div *ngIf="!cartList.length">
    <h1>Empty Cart</h1>
  </div>
</div> -->
<div style="background-color: white;">
  <span>
    <h1 style="display: inline-block; text-align: center">
      <strong>My Cart</strong>
    </h1>
    <mat-icon matSuffix>shopping_cart</mat-icon></span
  >
</div>
<hr />
<div class="card mb-3" style="max-width: 540px" *ngFor="let item of cartList">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ item.productImg }}"
        alt="Trendy Pants and Shoes"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><Strong>{{ item.productName }}</Strong></h3>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <strong>Rs {{ item.price }}/-</strong>
        <p class="card-text">
          <button
            mat-flat-button
            (click)="removeCartItem(item.id)"
            color="warn">
            Remove Item
          </button>
          <button
          mat-flat-button
          color="warn" style="margin-left: 2%;">
          CheckOut</button
        >
        </p>
      </div>
    </div>
  </div>
</div>
