<div class="row">
<div class="cartbg ">
<div style="background-color: white;">
  <span>
    <h1 style=" text-align: center">
      <strong>My Cart</strong> <mat-icon matSuffix>shopping_cart</mat-icon>
    </h1>
   </span
  >
</div>
<hr />
<div class="card mb-3 cart col-md-6" style="max-width: 540px" *ngFor="let item of cartList">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ item.productImage }}"
        alt="Trendy Pants and Shoes"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><Strong>{{ item.productName }}</Strong></h3>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <strong>Rs {{ item.price }}/-</strong>
        <p class="card-text">
          <button
            mat-flat-button
            (click)="removeCartItem(item.key)"
            color="warn">
            Remove Item
          </button>
          <button
          mat-flat-button
          color="warn" style="margin-left: 2%;" routerLink="/billing">
          CheckOut</button
        >
        </p>
      </div>
    </div>
  </div>

</div>

</div>
<div>
  <h1 *ngIf="cartList?.length==0">Empty Card</h1>
  <button mat-flat-button color="warn" routerLink="/menu" >Add items</button>
</div>

</div>