<div class="adminLogin">
    <h1><strong>Admin Login</strong></h1>
<form>

    <mat-form-field appearance="fill">
        <mat-label>Enter User Name </mat-label>
        <mat-icon matIconSuffix>account_circle</mat-icon>
        <input
        type="text"
        matInput
        placeholder="User Name"
        
        />
       
    </mat-form-field><br>
    
    <mat-form-field appearance="fill" >
        <mat-label>Enter your password</mat-label>
        <input
        matInput
        [type]="hide ? 'password' : 'text'"
        />
        <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        type="button"
        >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>

</mat-form-field><br>
<button
mat-raised-button
color="accent"
(click)="adminLogin()"
>
Login
</button>

</form>
</div>
<!-- <router-outlet></router-outlet> -->