.adminLogin{
  background-color: #FBF1D3;
    margin-top: 50px;
    margin-left: 400px;
    padding-left: 75px;
    padding-top: 45px;
    border: 2px solid whitesmoke;
    border-radius:25px;
    width: 400px;
    height: 350px;
}
h1{
    margin-left: 45px;
}