.adminLogin{
    margin-top: 6%;
}
h1{
    margin-left: 45px;
}
/* .main{
    background-size: cover;
    background-image: url("https://thumbs.dreamstime.com/b/restaurant-staff-waiter-serving-female-client-vector-flat-illustration-interior-cafe-uniform-carrying-order-dish-to-213051501.jpg");
} */