<div style="height:210%; 
width: 100%;box-shadow: 2px chocolate; background-color: white;">
<!-- menu for admin dashboard -->
<button mat-button [matMenuTriggerFor]="belowMenu">Menu<mat-icon>menu</mat-icon></button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="list=true; open=false">View Food</button>
  <button mat-menu-item (click)="open=true;list=false">Add Food</button>
  <button mat-raised-button color="warn" routerLink="/admin">Logout</button>
 <!-- Adding new item in product -->
</mat-menu>
<div *ngIf="!open && !list" style="height: 40%;width: 100%;">
<h1 style="text-align: center;"><strong>Welcome to Admin Dashboard</strong></h1>
<img src="https://ontrackangular-staging.herokuapp.com/assets/img/form-protect-screen.svg" 
style="height: 40%;width: 100%;"
alt="">
</div>
<div *ngIf="open" class="productForm" style="background-image: url('https://thumbs.dreamstime.com/b/italian-food-background-different-types-pasta-health-vegetarian-concept-top-view-copy-space-italian-food-114155664.jpg');">
  <h1 style="margin-top: 5%;"><strong>Fill Food Details</strong></h1>
  <form [formGroup]="productForm">
    <!-- <mat-form-field appearance="fill">
      <mat-label>Enter FoodId</mat-label>
      <input matInput placeholder="FoodId">
    </mat-form-field><br> -->
    <mat-form-field appearance="fill">
      <mat-label>Enter Food</mat-label>
      <input matInput placeholder="Food Name" formControlName="productName">
      <mat-error *ngIf="this.productForm.controls['productName'].hasError('required')">
        *Required
      </mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Enter Food Price</mat-label>
      <input matInput placeholder="Food Price"  formControlName="price">
      <mat-error *ngIf="this.productForm.controls['price'].hasError('required')">
        *Required
      </mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Enter Food image Url</mat-label>
      <input matInput placeholder="Food image" formControlName="productImg">
      <mat-error *ngIf="this.productForm.controls['productImg'].hasError('required')">
        *Required
      </mat-error>
    </mat-form-field><br>
    <button
mat-raised-button
color="warn"
(click)="saveProduct()"
>
Add Food
</button>
  </form>
</div>

<!-- display all item from products -->

<div *ngIf="list && !open" class="container" style="background-color: white;">
<table class="table table-hover table-bordered ">
  <thead>
    <th>Food Name</th>
    <th>Price</th>
    <th>Image</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let pro of products">
      <td  class="w-25">{{pro.productName}}</td>
      <td  class="w-25">{{pro.price}}</td>
      <!-- <td><img src="{{pro.productImage}}" alt=""></td> -->
      <td class="w-25"><img class="img-fluid img-thumbnail" src="{{pro.productImage}}" alt=""></td>
      <!-- <td><mat-icon>edit</mat-icon></td> -->
      
      <td  class="w-25"><span><mat-icon (click)="openModal(template);editProductDetails(products);">edit</mat-icon></span></td>

      <td  class="w-25"><mat-icon (click)="deleteProduct(pro.id)">delete</mat-icon></td>
    </tr>
  </tbody>
</table>
</div>

<!-- modal for updating product -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Product Details</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide();">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="productForm">
        <mat-form-field appearance="fill" hidden>
      <mat-label>Enter FoodId</mat-label>
      <input matInput placeholder="FoodId" formControlName="id">
    </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Enter Food</mat-label>
        <input matInput placeholder="Food Name" formControlName="productName" >
        <mat-error *ngIf="this.productForm.controls['productName'].hasError('required')">
          *Required
        </mat-error>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Enter Food Price</mat-label>
        <input matInput placeholder="Food Price"  formControlName="price" >
        <mat-error *ngIf="this.productForm.controls['price'].hasError('required')">
          *Required
        </mat-error>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Enter Food image Url</mat-label>
        <input matInput placeholder="Food image" formControlName="productImg" >
        <mat-error *ngIf="this.productForm.controls['productImg'].hasError('required')">
          *Required
        </mat-error>
      </mat-form-field><br>
      <button
      mat-raised-button
      color="accent"
      (click)="updateProduct(productForm.value)"
      >
      Update
      </button>
      </form>

  </div>
</ng-template>
</div>


         