
<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <br>
      <h3 style="margin-left:2%; font-size: 30px;">Reset Password</h3>
      <p class="text-center" >Enter your Email address.</p>
      <div class="formGroup">
        <input type="email" class="formControl" style="width: 40%; text-align: center; padding: 1em;" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <br>
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" style="background-color: rgb(207, 141, 108);" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
   
</div>