.displayTable{
    margin-left: 30%;
    width: 40%;
    height: 50%;
    background-image: linear-gradient(#e3ddd6 50%,#a38b5e 90%);
    text-align: center;
    margin-top: 5%;
    border-radius: 5%;
}