<div style="background-size: cover;" class="whole">
 
 
  <div class="parent" >
   
  <form [formGroup]="regform" style="margin-left: 100%; margin-bottom: 6em; " class="Container">
    <h1 style="color:rgb(247, 243, 239) ; text-align: center; top: 10px; margin-top: 1em;"><u>Register Here</u></h1>
  <div>
      <mat-form-field appearance ="fill">
      <input matInput placeholder="Enter fullName" formControlName="fullName">
      <mat-icon class="material-icons" matSuffix>people</mat-icon>
      <mat-error *ngIf="this.regform.controls['fullName'].hasError('required')">
        <span>*Name is required</span>
      </mat-error> 
      </mat-form-field>
    </div>
      <div>
          <mat-form-field appearance ="fill" >
          <input matInput placeholder="Enter userName" formControlName="userName">
          <mat-icon class="material-icons" matSuffix>people</mat-icon>
          <mat-error *ngIf="this.regform.controls['userName'].hasError('required')">
            <span>*userName is required</span>
          </mat-error> 
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance ="fill">
            <input matInput placeholder="Enter email" formControlName="email">
            <mat-icon class="material-icons" matSuffix>email</mat-icon>
            <mat-error *ngIf="this.regform.controls['email'].hasError('required')">
              <span>*Email is required</span>
            </mat-error> 
            <mat-error *ngIf="this.regform.controls['email'].hasError('email')">
              <span>*Invalid Email Format</span>
            </mat-error>
            </mat-form-field>
          </div>  
    
  <div>
          <mat-form-field appearance="fill" >
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <mat-error *ngIf="this.regform.controls['password'].hasError('required')">
              <span>*Password is required</span>
            </mat-error> 
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          
        </div>
          
          <div>
          <mat-form-field appearance ="fill">
          <input matInput placeholder="Enter mob" formControlName="mob">
          <mat-icon class="material-icons" matSuffix>phone</mat-icon>
          <mat-error *ngIf="this.regform.controls['mob'].hasError('required')">
              <span>*Mobile No. is required</span>
            </mat-error> 
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance ="fill" >
          <input matInput placeholder="Enter uid" formControlName="uid">
          <mat-icon class="material-icons" matSuffix>phone</mat-icon>
          <mat-error *ngIf="this.regform.controls['uid'].hasError('required')">
              <span>*UID is required</span>
            </mat-error> 
          </mat-form-field> <br>
        </div>
          <div>
          <button mat-raised-button class="createUserBtn" color="primary" style="background-color: rgb(224, 89, 89);" type="submit" (click)="onSubmit()">Register</button>
          </div>  
          <br>
          </form>
       
          </div>
       
  </div>

